.carousel-image{
    height: 600px;
    width: 75%;
    background-size: cover;
    background-position: center;
}

.img {
    transition: transform 0.5s ease-in-out;
}

.img:hover {
    transform: scale(1.2);
}

.list{
    z-index: 1;
}

.side-image{
    width: 100%; /* Make the image fill the entire width of the container */
  max-height: 500px;
  object-fit: cover;
  object-position: top;
  padding: 0;
}

.ql-editor{height:500px!important}

input[type=radio]{
    display: none;
}

.star{
   cursor:pointer;
}

.star_rating{
    flex-direction: row;
}